<div class="locationSelector">

    <div style="float: left;margin-top:0px;">
        <label for="province">省:</label>
        <div id="province"></div>
    </div>

    <div style="float: left;margin-top:0px;">
        <label for="city">市:</label>
        <div id="city"></div>
    </div>

    <div style="float: left;margin-top:0px;">
        <label for="county">区:</label>
        <div id="county"></div>
    </div>

    <div style="float: left;margin-top:0px;height: 20px;">
        <button id="btn"></button>
    </div>
</div>




