<div class="fuzzySearch" >
    <input type="search" class="address_input" list11="listInfo" data-dojo-attach-point="inputInfo" id="inputInfo">
    <!--
    <datalist id="listInfo" data-dojo-attach-point="listInfo" id="listInfo" onclick="alert('click');">
        <option value="BMW" label="BWM" onclick="alert('click');"> <input type="button" onclick="alert('click');">button </input></option>
        <option value="Ford" label="BWM" onclick="alert('click');"> </option>
        <option value="Volvo" label="BWM" onclick="alert('click');"> </option>
    </datalist>
   --->
    <input type="button" class="address_search_button" data-dojo-attach-event="ondijitclick:searchClick">
    <div id="customList" data-dojo-attach-event="ondijitclick:selectOption" data-dojo-attach-point="customList">
        <!--
        <option value="xiaoguan" label="小关"> </option>
        <option value="beijing" label="北京"> </option>
        <option value="shenzhne" label="深圳"> </option>
        -->
    </div>

</div>




